html {
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: turquoise;
    margin: 0;
    min-height: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(115,109,109,0.67);
    width: 50%;
    height: 100%; 
}

.btns {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;

}
.btns button {
    padding: 7px;
    width: 100%;
}
.data-hora {
    text-align: center;
}

#dialog-fechar {
    position: absolute;
    top: 0;
    right: 0;
    
}

#alerta-ponto-registrado {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: green;
    color: white;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

